* {
  margin: 0px;
  padding: 0px;
}

.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 1fr;
  width: 100%;
  background-color: antiquewhite;
}

.content .tabs {
  background-color: aquamarine;
  height: 100px;
  width: 100%;
  grid-column: span 6;
}

.content .tools {
  height: 400px;
  grid-column: span 6;
}

.content .tools .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.content .tools .row .item {
  height: 100px;
  background-color: rosybrown;
  grid-column: span 1;
}
